body {
  margin: 0;
  font-family: Poppins;
  background: #fff;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #d4af37;
}

input {
  padding: 8px;
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #fff8e1, #fff);
}

.hero h1 {
  font-size: 35px;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #d4af37;
  border: none;
  color: white;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.card h3 {
  margin: 10px 0;
}

.card button {
  background: #d4af37;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

/* CART */
.cart {
  position: fixed;
  right: -350px;
  top: 0;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  transition: 0.3s;
}

.cart.active {
  right: 0;
}
